body {
    font-family: Arial;
    background-color: #f4f6f8;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.form-container {
    margin: 20px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}
.schedule-list {
    margin-top: 10px;
    padding-left: 20px;
}

.schedule-list li {
    margin-bottom: 5px;
    font-size: 14px;
}
